<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"></ul></div>

c func makes array of values

In [1]:
x <- c(10, 3, 3, 4)
x + 4

[1] 14  7  7  8

In [2]:
y <- max(x)
y

[1] 10


Math on vectors computes for each element

In [3]:
x^2

[1] 100   9   9  16

Take the mean of vector

In [4]:
x <- c(1, 3, 4, 6, 5, 6)
mean(x)

[1] 4.166667

Standard deviation of vector

In [5]:
y <- matrix(x, nrow=3)
y

     [,1] [,2]
[1,] 1    6
[2,] 3    5
[3,] 4    6

Applies sum function to each row in matrix

In [6]:
apply(y, 1, sum)

[1]  7  8 10

Applies sum function to each column in matrix

In [7]:
apply(y, 2, sum)

[1]  8 17

In [8]:
z <- matrix(x, nrow=3, byrow=TRUE)
z

     [,1] [,2]
[1,] 1    3
[2,] 4    6
[3,] 5    6

In [9]:
name <- c("Emily", "Tim", "Jeff")
# This will combine the z matrix with the name (makes three columns)
my.mat <- cbind(name, z)
my.mat

     name
[1,] Emily 1 3
[2,] Tim   4 6
[3,] Jeff  5 6

In [10]:
is.matrix(my.mat)

[1] TRUE

In [11]:
is.data.frame(my.mat)

[1] FALSE

In [12]:
my.mat[,2]

[1] "1" "4" "5"

Even though my.mat[,2] is numbers, since it contains strings as well, numbers are coerced to strings so we can't operate on them as numbers

In [13]:
mean(my.mat[,2])

Warning message in mean.default(my.mat[, 2]):
“argument is not numeric or logical: returning NA”

[1] NA

Data frames can have different types of data

In [14]:
my.data <- data.frame(name, z)
is.data.frame(my.data)

[1] TRUE

So we can take mean as expected

In [15]:
mean(my.data[,2])

[1] 3.333333

names gets/sets the column names of data frame

In [16]:
names(my.data) <- c("Name", "Teeth", "Crawl")

In [17]:
my.data

  Name  Teeth Crawl
1 Emily 1     3
2 Tim   4     6
3 Jeff  5     6

In [58]:
# mean(Teeth) Throws error because Teeth column name not in global scope

In [19]:
mean(my.data$Teeth)

[1] 3.333333

attach() brings all columns in data frame into global scope w/ var names equal to column name

In [20]:
attach(my.data)

In [21]:
mean(Teeth)

[1] 3.333333

In [22]:
detach(my.data)

In [23]:
?detach # For when you need help :)

In [2]:
Data1Survey.df <- read.csv(file='Day1Survey.csv')

In [4]:
head(Data1Survey.df)

  Section Class    Sex Distance Height Handedness Coins WhiteString BlackString
1 1       Senior   F    400     62     Right       1.12 42          6
2 1       *        F    450     61     Left       29.00 45          5
3 1       Freshman F   3000     61     Right       1.50 22          4
4 1       Freshman M    100     72     Right       0.07 40          4
5 1       N/A      F   2000     69     Right       0.12 48          7
6 1       Senior   M    500     73     Right       8.00 30          8
  Reading TV Pulse Texting
1  80      3 71      3
2 100     10 78    100
3 100      4 80      2
4  50     25 63    200
5 200      5 63    100
6 100      0 56      1

In [5]:
dim(Data1Survey.df)

[1] 43 13

In [6]:
names(Data1Survey.df)

 [1] "Section"     "Class"       "Sex"         "Distance"    "Height"
 [6] "Handedness"  "Coins"       "WhiteString" "BlackString" "Reading"
[11] "TV"          "Pulse"       "Texting"

In [7]:
attach(Data1Survey.df)

Get the first row (0 just gets the column names). Of first row get 3, 4 and 6th column. c func === column

In [16]:
Data1Survey.df[1, c(1,4,6)]

  Section Distance Handedness
1 1       400      Right

Seems like R indexing starts at 1 :(((((

In [17]:
Data1Survey.df[1, c(0,4,6)]

  Distance Handedness
1 400      Right

In [18]:
Data1Survey.df[1, c(1,4,6)]

  Section Distance Handedness
1 1       400      Right

In [19]:
head(Data1Survey.df)

  Section Class    Sex Distance Height Handedness Coins WhiteString BlackString
1 1       Senior   F    400     62     Right       1.12 42          6
2 1       *        F    450     61     Left       29.00 45          5
3 1       Freshman F   3000     61     Right       1.50 22          4
4 1       Freshman M    100     72     Right       0.07 40          4
5 1       N/A      F   2000     69     Right       0.12 48          7
6 1       Senior   M    500     73     Right       8.00 30          8
  Reading TV Pulse Texting
1  80      3 71      3
2 100     10 78    100
3 100      4 80      2
4  50     25 63    200
5 200      5 63    100
6 100      0 56      1

Get values ALL values (i.e. from every row) in the 3rd column

In [31]:
# Just thought about it, was supposed to name this Day1Survey.df, not that it matters...
Data1Survey.df[,3]

 [1] F F F M F M F M M M M M M F M F M M M M F M M F M M F M F M F F M M F M M M
[39] M F F M F
Levels: F M

R vector/dataframe operations work like Python's pandas library :)

In [32]:
Sex=="M"

 [1] FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE
[13]  TRUE FALSE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE FALSE
[25]  TRUE  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE  TRUE  TRUE FALSE  TRUE
[37]  TRUE  TRUE  TRUE FALSE FALSE  TRUE FALSE

Get each row that is a male

In [36]:
males.df <- Data1Survey.df[Sex=="M",]

In [39]:
head(males.df) # Notice how every row for Sex is M, this is true for rest of DataFrame as well

   Section Class     Sex Distance Height Handedness Coins WhiteString
4  1       Freshman  M    100     72     Right       0.07 40
6  1       Senior    M    500     73     Right       8.00 30
8  1       Sophomore M   1000     71     Right       0.00 45
9  1       Sophomore M    400     70     Right       0.00 38
10 1       Sophomore M    450     75     Left        0.00 36
11 1       Sophomore M    400     71     Right      25.00 48
   BlackString Reading TV Pulse Texting
4   4           50     25 63    200
6   8          100      0 56      1
8   6          100      2 66     30
9   0          100     20 54     40
10 12          100     20 48     25
11 12          250      8 81     25

In [40]:
dim(males.df)

[1] 26 13

Get only males who have height >= 72, get only the columns "Height" and "TV" -> Seems like R selection statements also work like pandas

In [42]:
TallTV.males.df <- Data1Survey.df[Sex=="M" & Height>=72, c("Height", "TV")]

In [44]:
head(TallTV.males.df)

   Height TV
4  72     25.0
6  73      0.0
10 75     20.0
15 77      4.0
18 73      1.5
23 74      4.0

In [45]:
exp(1)

[1] 2.718282

In [46]:
log(exp(4))

[1] 4

In [47]:
sqrt(20)

[1] 4.472136

Functions YAYYYYYY :)

In [48]:
mymean <- function(x, trim=0) {
    # Sorts the vector so we can trim outliers
    y <- sort(x) 
    # Add 1 b/c R indexing starts at 1
    # trim is meant to trim outliers 
    # Seems like R vector slicing also works like python
    # But does -1 work to get last element?
    mean(y[(trim+1):(length(y)-trim)])
}

In [49]:
vec <- c(1,2,3,4,5,6,20)
mymean(vec, trim=1)

[1] 4

In [55]:
# Seems like this doesn't work like python :(
# Using negative indices removes the element at the positive version of the index
print(vec)
print(vec[-1])
print(vec[-2])

[1]  1  2  3  4  5  6 20
[1]  2  3  4  5  6 20
[1]  1  3  4  5  6 20

In [57]:
mymean(vec) # We don't have to pass for default parameter vals

[1] 5.857143